<!DOCTYPE html>
<html>
  <head>
    <% const ROOT_DIR = process.cwd() %>
    <%- include(ROOT_DIR + '/views/layout/include'); %>
  </head>
  <body>
    <header>
      <%- include(ROOT_DIR + '/views/layout/header'); %>
    </header>
    <main>
      <div class="container testborder">
        <h1>File Upload page</h1>
        <p>welcomeeeeee</p>
  
        <section>
          <article>
            <h4>File upload UI</h4>
            <form>
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="imageUpload" class="form-label">Select a Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file" accept="image/png, image/jpg">
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label for="videoUpload" class="form-label">Select a Video</label>
                    <input type="file" class="form-control" id="videoUpload" name="file" accept="video/mp4">
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-3">
                    <button id="uploadBtn" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <%- include(ROOT_DIR + '/views/layout/footer'); %>
    </footer>
  </body>
</html>
<script type="text/javascript">
  let uploadBtn = document.getElementById("uploadBtn");
  let imageUpload = document.getElementById("imageUpload")
  let videoUpload = document.getElementById("videoUpload")

  
  uploadBtn.addEventListener("click", function(e) {
    let formData = new FormData();
    formData.append("file", imageUpload.files[0])
    formData.append("file", videoUpload.files[0])

    axios.post("/file/upload", formData, { headers: {"Content-Type": "multipart/form-data"}})
      .then((response) => {
        alert("파일 업로드 성공")
        window.location.href="../"
      })
      .catch((err)=>{
        console.error(err);
      })
  })
</script>
