<!DOCTYPE html>
<html>
  <head>
    <% const ROOT_DIR = process.cwd() %>
    <%- include(ROOT_DIR + '/views/layout/include'); %>
  </head>
  <body>
    <header>
      <%- include(ROOT_DIR + '/views/layout/header'); %>
    </header>
    <main>
      <h1>h1</h1>
      <p>welcommmmeeeeee</p>
    </main>
    <footer>
      <%- include(ROOT_DIR + '/views/layout/footer'); %>
    </footer>
  </body>
</html>
