main {
  min-height: 800px;
}
body {
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}
body.with-nav {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  /* color: #00B7FF; */
}

.testborder {
  border: 1px solid red;
}

.show-elem {
  display: show;
}

.hide-elem {
  display: none;
}

.background-whitesmoke {
  background-color: whitesmoke;
}