<div class="alert-position"><!-- d-none -->
  <div class="alert-container" id="alert-container"></div>
</div>
<script>
  let alertContainer = document.getElementById("alert-container");
  function addAlert(detail, type="primary", ms=5000){
    let alertBoxElem = document.createElement("div");
    let alertElem = document.createElement("div");
    alertBoxElem.classList.add("alert-box")
    alertElem.classList.add("alert")

    // alert type
    switch (type) {
      case "primary":
        alertElem.classList.add("alert-primary")
        break;
      case "secondary":
        alertElem.classList.add("alert-secondary")
        break;
      case "success":
        alertElem.classList.add("alert-success")
        break;
      case "danger":
        alertElem.classList.add("alert-danger")
        break;
      case "warning":
        alertElem.classList.add("alert-warning")
        break;
      case "info":
        alertElem.classList.add("alert-info")
        break;
      case "light":
        alertElem.classList.add("alert-light")
        break;
      case "dark":
        alertElem.classList.add("alert-dark")
        break;
      default:
        alertElem.classList.add("alert-primary")
        break;
    }

    alertElem.innerText = detail;
    alertBoxElem.appendChild(alertElem);
    alertContainer.appendChild(alertBoxElem)

    // delete alert
    setTimeout(()=>{
      alertElem.remove();
      alertBoxElem.remove();
    }, ms);
  }
  addAlert("text3", null, 3000);
</script>
<style>
.alert-position{
  position: fixed;
  z-index: 100;
  bottom: 100px;
  width: 100%;
}
.alert-container{
  width: 50%;
}
</style>