<!DOCTYPE html>
<html>
  <head>
    <% const ROOT_DIR = process.cwd() %>
    <%- include(ROOT_DIR + '/views/layout/include'); %>
  </head>
  <body class="text-center with-nav">
    <header>
      <%- include(ROOT_DIR + '/views/layout/header'); %>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
        </div>
      </div>
    </main>
  </body>
  <!-- FOOTER -->
  <%- include(ROOT_DIR + '/views/layout/footer'); %>
</html>